/*general setting*/
html {
  font-size: 62.5%; /* 16px62.5=10px=1rem, converting 1rem=10px*/
  box-shadow: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
/*layout*/
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem; /*header, main, footer*/
  height: 100%;
}
header {
  grid-area: header; /*connecting header tag to value of grid areas above, so its child of grid-template-areas(parent).*/
  background-color: #203040;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffff;
}

/*header*/

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.center {
  justify-content: center;
}
header a {
  color: #ffff;
  padding: 1rem;
}
a.brand {
  color: #ffff;
  font-size: 3rem;
  font-weight: bold;
}
/*img*/
img {
  border-radius: 0.5rem;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
/*card*/
.card {
  border: 0.1rem solid #c0c0c0;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
} /*target all direct child*/

/*rating*/
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
